.button{
  background-color: #005F50;
  color: white;
  border: none;
  text-align: center;
  margin: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}